.slick-dots {
    bottom: 40px;
}

.slick-dots li {
    height: auto;
    margin: 0;
    padding: 0 10px;
    position: static;
    text-align: center;
    width: auto;
}

.slick-dots li button {
    background-clip: content-box;
    height: 16px;
    line-height: 28px;
    margin-bottom: 0px;
    padding: 3px;
    position: relative;
    transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    width: 16px;
    z-index: 10;
}

.slick-dots li button::before {
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    height: 10px;
    left: 50%;
    opacity: 1;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 10px;
    z-index: 9;
}

.slick-dots li.slick-active button {
    border-color: #ffffff;
    background-color: #ffffff;
}

.slick-dots li.slick-active button::before {
    height: 16px;
    width: 16px;
}